<%= turbo_frame_tag "message_panel", class: "flex flex-shrink-0" do %>
  <%# Folder navigation %>
  <%= render "folders" %>

  <%# Message list %>
  <div class="w-80 lg:w-96 border-r border-gray-200 bg-white flex flex-col flex-shrink-0 overflow-hidden">
    <div class="flex items-center justify-between px-4 py-3 border-b border-gray-100 flex-shrink-0">
      <h1 class="text-lg font-bold text-gray-900"><%= @folder_config[:label] %></h1>
      <span class="text-xs text-gray-400"><%= pluralize(@messages.count, "message") %></span>
    </div>
    <div class="flex-1 overflow-y-auto scrollbar-thin" id="message_items">
      <% @messages.each do |message| %>
        <%= render MessageRowComponent.new(message: message) %>
      <% end %>
    </div>
  </div>
<% end %>
